src/random/CMakeFiles/
src/random/Makefile
src/random/cmake_install.cmake
doc/web/bib/*.html
*.a
CMakeCache.txt
CMakeFiles/
CPackConfig.cmake
CPackSourceConfig.cmake
Makefile
bin2fp
cmake_install.cmake
flopoco
flopoco.o
flopoco.vhdl
flopoco.dot
flopoco_soaktest
fp2bin
longacc2fp
BitHeap*.svg
tiling*.svg
PiecewisePoly*.cache
*testbench*
work-obj93.cf
test.input
*.vcd

# Autotest
TestResults
gmon.out

# Latex Doc
doc/flopoco_developer_manual/flopoco_developer_manual.aux
doc/flopoco_developer_manual/flopoco_developer_manual.log
doc/flopoco_developer_manual/flopoco_developer_manual.pdf
doc/flopoco_developer_manual/flopoco_developer_manual.toc
doc/flopoco_developer_manual/flopoco_developer_manual.bbl
doc/flopoco_developer_manual/flopoco_developer_manual.blg

#tata
fftest
